
.mainImg{
    background: url('Images/homeImg.jpg') rgba(0,0,0,0.3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width:991px){
    .navbar-collapse{
        font-size: x-large;
        font-weight: bold;
    }
}