
.backdesign{
    background: linear-gradient(160deg,#89D8E3,#CD899E,#F9D3C0,#CFE0F8,#CD899E,#9B70A0,#101E42);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.formmain{
    position: relative;
}

.form-control:focus {
  box-shadow: none; 
  outline: none;
}

.form-labeline{
    position: absolute;
    top: 0.6rem;
    left: 1.4rem;
    cursor: text;
    color:grey;
    transition: top 200ms ease-in,left 200ms ease-in,font-size 200ms ease-in;
}
.textbox:focus{
    background: white;
}
.textbox:focus ~.form-labeline,
.textbox:not(:placeholder-shown).textbox:not(:focus)~.form-labeline{
    top: -0.5rem;
    left:1.3rem;
    font-size: 12px;
    background:linear-gradient(to top,white,#CFE0F8);
    font-family: sans-serif;
}

/*<div class=" formmain">
                        <input type="number" name="ImportQty" placeholder=" " id="num1"  class="form-control textbox" oninput="calculateTotal()" />
                        <label  class="form-labeline">Enter Quantity(KG)</label>
 </div>*/